
<body>
  <header class="header">
    <a href="" class="logo">Logo</a>

    <input type="checkbox" id="check">

    <label for="check" class="icons">
        <img id="menu-icons" class="" src="../../assets/images/logo/4565195.png" alt="allo">
        <h1 id="close-icons">X</h1>
    </label>
    
    <nav class="navbar">
      <a href="#" routerLink="/" style="--i:0;">Acceuil</a>
      <a href="#" routerLink="/home" style="--i:1;">Produit</a>
      <a href="#" routerLink="/nous" style="--i:2;">Nous</a>
      <a href="#" routerLink="/contact" style="--i:3;">Contact</a>
      <a href="#" routerLink="/cart-page" style="--i:4;">Carts</a>
    </nav>
  </header>
</body>