<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="first">
                <img src="/assets/images/logo/kitchen-1.png" alt="Logo">
                <p>En choisissant mon entreprise. vous choisissez une entreprise qui
                    a le coeur sur la main. Bonne journé les copains!
                </p>
            </div>
            <div class="footer-col">
                <h4>Compagnie</h4>
                <ul>
                    <li><a href="">Acceuil</a></li>
                    <li><a href="">Nous</a></li>
                    <li><a href="">Contact</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <div class="Nous">
                    <h4>Nous contacter?</h4>
                    <ul>
                        <li><a class="phone" href="">418-334-6440</a></li>
                        <li><a class="email" href="">charleseliot@hotmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-col">
                <h4>Produit</h4>
                <ul>
                    <li><a href="">Cuisine</a></li>
                    <li><a href="">Salle de bain</a></li>
                    <li><a href="">Autre projets</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>