<div class="container" for="fermer"  id="close-icons">
    <div class="image">
        <img src="/assets/images/logo/hero_p.jpg" alt="fuck off">
    </div>
    <div class="contenu">
        <div class="haut">
            <div class="titre" id="alo">
                <h1>Rabais de la semaine</h1>
            </div>
            <div class="quitt">
                <input type="checkbox" id="fermer">
    
                <label for="fermer" class="icons">
                    <h1 id="close-icons">X</h1>
                </label>

            </div>
            

        </div>
        <div class="info">
            <div class="nom">
                <p>Bois de chene</p>
            </div>
            <div class="rabais">
                <h2>-25%</h2>
            </div>
            <div class="bouton">
                <a href="">Voir le motif</a>
            </div>
        </div>
    </div>
</div>
 