
 <div class="container">
    <div class="droite">
        <img src="/assets/images/logo/hero_p.jpg" alt="image batard">
        <div class="lien">
            <a href="">En apprendr plus</a>
        </div>
        
    </div>
    <div class="gauche">
        <div class="titre">
            <h1>Au sujet de l'entreprise</h1>
        </div>
        <div class="texte">
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Iure, repellat! Dolore doloremque
                commodi sed! Officia, fugiat, velit nam, laborum esse dolorem
                vero tempora doloremque
                debitis sapiente corrupti vitae saepe culpa?</p>
        
        </div>
    </div>
 </div>