



<div class="container">
    <h1 class="titre">
            Nos produits
    </h1>
    <div class="contenu">
        <div class="cuisine">
            <img src="/assets/images/logo/kitchen-1.png" alt="allo">
            <div class="text">
                <h2 class="A">Cuisine</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi natus dolores laborum molestiae perferendis quas, dignissimos neque tenetur autem?</p>
                <a href="">Voir Plus!</a>
            </div>
            
        </div>
        <div class="cuisine">
            <img src="/assets/images/logo/salle_eau.png" alt="allo">
            <div class="text">
                <h2 class="A">Salle de bain</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi natus dolores laborum molestiae perferendis quas, dignissimos neque tenetur autem?</p>
                <a href="">Voir Plus!</a>
            </div>
        </div>
        <div class="cuisine">
            <img src="/assets/images/logo/Porte.png" alt="allo">
            <div class="text">
                <h2>Tout autre projet</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi natus dolores laborum molestiae perferendis quas, dignissimos neque tenetur autem?</p>
                <a href="">Voir Plus!</a>
            </div>
        </div>
    </div>
</div>
