<div class="container">
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="A">Enfin la cuisine</h1>
            <h1 class="B">parfaite</h1>
            <h1 class="C">à un prix ridicule !!</h1>
            <p>
                Chez recouvrement d'armoire charles Eliot Boudjack
                notre but est de fournire la qualité d'une cuisine 
                de magasine a un prix le plus avantageux possible.
            </p>
            <div class="btn">
                <a routerLink="/nous" class="hero-btn">En savoir plus</a>
            </div>
        </div>
    </div>
</div>
<div>
    <app-projets></app-projets>
    <app-slider></app-slider>
    <app-nous-acceuil></app-nous-acceuil>
</div>
<a routerLink="/home">home</a>