<app-pop-up></app-pop-up>
<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]=" !products ||products.length <=0 "></app-not-found>
<ul>
    <li *ngFor="let product of products">
        <a routerLink="/food/{{product.id}}">

            <img src="{{product.imageURL}}" alt="lol">
            <div class="content">
                <div class="name">
                    {{product.Code}}-{{product.name}}
                </div>
                <div class="product-item-footer">
                    <div class="origin">
                        <span *ngFor="let origin of product.origin">
                            {{origin}}
                        </span>
                    </div>
                </div>

            </div>
        </a>
    </li>
</ul>
