ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}

li a{
    height: 23em;
    width: 14.5em;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    transition: .3s;
}
li a:hover{

    opacity: 0.7;
    cursor: pointer;
    height: 23.5em;
    width: 15em;
    border: 5px solid black;

}

.content{
    padding-top: .8rem;
    padding-left: .9rem;
    position: relative;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origin{
    flex: 7;
}

.origin span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.7rem;
    color: gray;
    margin-right: .3rem;
}