ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}

li a{
    height: 25em;
    width: 14.5em;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
li a:hover{
    opacity: 0.7;
    cursor: pointer;
}

.content{
    padding-top: .2rem;
    padding-left: .5rem;
    position: relative;
}

.favorite{
    position: absolute;
    top: .2rem;
    right: .5rem;
    font-size: 1.2rem;
}

.favorite .not{
    color: gray;
}

.stars{
    font-size: medium;
    padding-top: .2rem;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origin{
    flex: 7;
}

.origin span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.7rem;
    color: gray;
    margin-right: .3rem;
}
.cook-time{
    font-size: .8rem;
    flex:3;
    text-align: right;
    padding-right: .3rem;
}

.price{
    color: black;
    margin-top: .7rem;
}