img{
    width: 20rem;
    height: 25rem;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 3%;
}
.top{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    margin: 1rem;
}
.top_droit{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    background-color: aquamarine;
}
.code{
    font-size: x-large;
    margin-bottom: .3rem;
}
.nom{
    font-size: larger;
    padding-left: .5rem;
    padding-bottom: 1rem;
}
.prix{
    display: flex;
    width: fit-content;
    font-size: xx-large;
    margin: 1.5rem 0 1rem 1rem;
    padding: .4rem .8rem .4rem .8rem;
    background-color: azure;
    border-radius: .8rem;
}
.prix::after{
    content: "$/Pi2";
}
button{
    background-color: inherit;
    border: 0px;
    font-size: large;
    margin: .3rem 0 .3rem 0;
}
.Soumission{
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
}
.top_gauche{
    display: flex;
    flex-direction: column;
}
.F_T{
    padding: .5rem .6rem .5rem .6rem;
    margin: 1rem;
    background-color: brown;
    width: fit-content;
}
.M_C{
    padding: .5rem .6rem .5rem .6rem;
    margin: 1rem;
    background-color: brown;
    width: fit-content;
}
@media(max-width:768px){
    .top{
        flex-direction: column;
    }
}